.card{
    width: 250px;
}

.card-subtitle{
    font-size: 13px;
}

.badge{
    font-size: 10px;
<<<<<<< HEAD
}

button{
    margin: 0;
    padding: 0;
=======
>>>>>>> dd0960815f52487d06b15ca49388e497d272a308
}