<div class="wrapper">
    <div class="credit-card-front">
      <div class="credit-card-logo">
        <img src="/assets/mastercard.svg" alt="Mastercard Logo">
      </div>
      <div class="credit-card-number">
        <strong></strong>
      </div>
      <div class="credit-card-data">
        <p class="name">
          
        </p>
        <strong class="expiration-date">
          
        </strong>
      </div>
    </div>
  
    <div class="credit-card-back">
      <div class="line"></div>
      <div class="cvc">
        <strong></strong>
      </div>
    </div>
  </div>