<!--cód professor-->
<section>
    <div class="img-container">
        <img src="/assets/download.jfif" alt="tenis">
    </div>
    <div class="product">
        <h2>Nike</h2>
        <p>Tênis Feminino Caminhada Ultrabone Leve + Relógio - Preto</p>
        <strong>$50</strong>
    </div>
    <button>Add to cart</button>
</section>

<br>
<hr>
<br>

<!--minha tentativa-->
<div class="card">
    <img src="/assets/download.jfif" alt="tenis" class="tenis">
    <h2 class="marca">Nike</h2>
    <p class="produto">Tênis Feminino Caminhada Ultrabone Leve + Relógio - Preto</p>
    <h2 class="preco">$50</h2>
    <div class="addToCart">
        <p class="link">Add to cart</p>
    </div>
</div>