.card{
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 0 5px #0000002a, -5px 0 5px #0000002a, 0px 5px 5px #0000002a, 0px -5px 5px #0000002a;
    box-sizing: content-box; /*para sumir o filete de branco na img no card*/
}

.card-img{
    width: 300px;
    height: 200px;
    object-fit: cover; /*para img cobrir todo tamanho do card*/
}

.card-content{
    padding: 25px 20px;
    box-sizing: border-box; /*para o padding não contar no tamanho máximo do elemento*/
}

.card-title{
    font-size: 20px;
    max-width: 230px;
    font-weight: 700;
}

.card-author{
    display: flex;
    align-items: center;
    color: #aaaaaa;
    font-size: 10px;
}

.card-author p{
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.author{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-right: 5px;
}

.card-footer{
    margin-top: 20px;
}

.card-footer button{
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    border-radius: 2px;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 13px;
    text-align: start;
    padding: 0 35px;
    box-shadow: 4 px 0 4px #0000002a;
    cursor: pointer;
}

