<div class="container">
  <div class="azul">
    <div class="front-card">
      <p class="numeroCartao">{{ numeroCartao }}</p>
      <p class="data">{{ mes }} / {{ ano }}</p>
      <p class="nomeCartao">{{ nomeCartao }}</p>
    </div>

    <div class="back-card">
      <div class="black"></div>
      <div class="gray">
        <p class="cvv">{{ cvc }}</p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Número do cartão</label>
    <input
      type="text"
      placeholder="Nome do cartão"
      [(ngModel)]="nomeCartao"
      name="valor1"
      class=""
    />

    <label for="">Numero do Cartão</label>
    <input
      type="number"
      placeholder="Número do cartão"
      [(ngModel)]="numeroCartao"
      name="valor2"
    />

    <label for="">CVV</label>
    <input 
      type="number" 
      placeholder="CVV" 
      [(ngModel)]="cvc" 
      name="valor3" 
    />

    <label for="">MM</label>
    <input 
      type="number" 
      placeholder="Mês" 
      [(ngModel)]="mes" 
      name="valor4" 
    />

    <label for="">AA</label>
    <input 
      type="number" 
      placeholder="Ano" 
      [(ngModel)]="ano" 
      name="valor5"
    />

    <button type="button">Confirmar</button>
  </div>
</div>
