<!-- <p>{{ title }}</p>

<p>{{ 11 * 5 }}</p>

<input [type]="tipoInput" [value]="title">
<button (click)="mudarTipoDoInput()">
  <img [src]="tipoOlho" alt="" width="12px">
</button> -->


<section>
  <button class="subt" (click)="subtrair()">-</button>

  <div class="container">
    <span class="resp">{{n}}</span> 
  </div>

  <button class="soma" (click)="somar()">+</button>
</section>
 


 <!-- <input type="number" placeholder="Digite o primeiro número"[(ngModel)]='n1' name="valor1">
 <br>
 <input type="number" placeholder="Digite o segundo número" [(ngModel)]='n2' name="valor2">
 <p>
  {{n1+n2}}
 </p> -->
